.homeContainer {
    max-width: 800px;
    margin: auto;
    .createPost {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        border: 0.2px solid grey;
        border-radius: 3px;
    }
}
