.searchUserContainer {
    max-width: 800px;
    margin: auto;
    .searchUser {
        display: flex;
        gap: 10px;
        input {
            flex: 1;
        }
        margin-bottom: 20px;
    }
    .results {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .result {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0.2px solid grey;
            padding: 10px;
            border-radius: 3px;
            img {
                width: 40px;
                height: 40px;
                border: 0.2px solid grey;
                border-radius: 50%;
            }
        }
        .flex_1{
            flex: 1;
        }
        .noUserText{
            text-align: center;
            font-weight: bold;
            font-size: 2rem;
            color: grey;
            font-family: verdana;
        }
    }
}
