* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
.icon{
    font-size: 1rem;
}
input,
textarea {
    padding: 5px 10px;
}
html {
    font-size: 69.7%;
}

@media screen and (min-width: 500px) {
    html {
        font-size: 100%;
    }
}

:root {
    --primary: #1d60f2;
    --danger: red;
}
